@import "mixins.scss";

/* GRID FOR ARTIKKELSIDENE */
.artikkel-grid {
  display: grid;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: repeat(16, [col-start] 1fr);
  grid-template-rows: 400px 60px auto auto;
}

.index-header {
  @include index-header;
  grid-column: col-start / 17;
}

.artikkel-nav {
  grid-column: col-start / 17;
  grid-row: 2;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  grid-column: col-start 6/12;
  grid-row: 3;
  margin-top: 30px;
}

article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.artikkel-venstre-innhold {
  flex: 1;
  order: 1;
}

.artikkel-hoyre-innhold {
  flex: 1;
  order: 2;
  border-left: 1px solid black;
}

#artikkel-steg1 {
  @include artikkel-steg(1)
}
#artikkel-innhold1 {
  @include artikkel-innhold(2)
}
#artikkel-steg2 {
  @include artikkel-steg(3)
}
#artikkel-innhold2 {
  @include artikkel-innhold(4)
}
#artikkel-steg3 {
  @include artikkel-steg(5)
}
#artikkel-innhold3 {
  @include artikkel-innhold(6)
}
#artikkel-steg4 {
  @include artikkel-steg(7)
}
#artikkel-innhold4 {
  @include artikkel-innhold(8)
}
#artikkel-steg5 {
  @include artikkel-steg(9)
}
#artikkel-innhold5 {
  @include artikkel-innhold(10)
}

.index-footer {
  @include index-footer;
  grid-row: 4;
  grid-column: col-start / 17;
  margin-top: 50px;
}
